@media screen and (max-width:900px) {

    body{
        background-color: black;
    }

    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao-play{
        margin-top: 5px;
        width: 250px;
    }

    .botao-info{
        margin-top: 5px;
        width: 250px;
    }

    .video-banner{
        position: absolute;
        top: -100px;
        width: 100%;
        overflow: hidden;
    }

    .filme-principal{
        margin-top: 180px;
        margin-bottom: -100px;
    }
}

@media screen and (min-width:1000px) {
    
    .filme-principal{
        margin-top: 60px;
        
    }

    .descricao{
        width: 50%;
    }
}